@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: arial;
}

.text-esquerda {
    position: absolute;
    bottom: -125px;
    margin: 5px;
}

.logo {
    
}

.cabecalho {
    font-size: 18px;
    color: white;
}

.cabecalho ul {
    height: auto;
    background-color: #333;
    opacity: 0.6;
    padding: 30px;
}

.cabecalho a {
        display: inline;
        text-decoration: none;
        color: white;
        font-weight: 500;
}

.menu {
    float: right;
    width: auto;
}

.menu li {
    color: white;
    list-style: none;
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1.5px;
    margin-right: 13px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: -8px;
    border-radius: 25px;
    transition: 0.7s all;
}

/* .cabecalho a:hover {
    transition: 0.7s all;
    color: rgb(6, 100, 89);
} */

.corpo {
    color: white;
    background-color: red;
    margin-top: 115px;
    padding: 10px 10px 115px 10px;

}

.main {
    color: white;
    margin-top: 100px;
    padding: 10px 10px 0px 25px;
}

.submit {
    margin-top: 25px;
    padding: 10px 30px;
    font-size: larger;
    border-radius: 10px;
}

img {
    width: 409px;
    height: 300px;
    float: right;
    margin-top: -203px;
    margin-right: 25px;
    border-radius: 15px;
}

